<div class="container">
    <mat-card class="d-flex justify-content-between">
        <h1>See User</h1>
        <button mat-button color="primary" routerLink="/dashboard/usuarios">Back</button>
    </mat-card>

    <form class="example-form" [formGroup]="form">
        
        <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="example-full-width" style="width: 90%;">
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="id" type="number" readonly>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="3" [rowspan]="5">
                <img src="./../../../../assets/img/grupo.png" style="width: 50%;">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="example-full-width" style="width: 90%;">
                    <mat-label>NOMBRE</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="example-full-width" style="width: 90%;">
                    <mat-label>APELLIDO</mat-label>
                    <input matInput formControlName="apellido">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="example-full-width" style="width: 90%;">
                    <mat-label>CEDULA</mat-label>
                    <input matInput formControlName="cedula">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>


