.body{
    background-color: rgb(206, 206, 206);
    height: 100%;
    align-items: center;
}
.login{
    width: 50%;
    &--card{
        width: 100%;
        text-align: center;
        img{
            margin:1rem ;
            width: 50%;
        }
    }
}

.btn{
    width: 30%;
    color: white;
    background-color: rgb(34, 121, 31);
    transition: 1s;
    &:hover{
        background-color: aqua;
    }
}
